pandas==2.2.3
beautifulsoup4==4.13.3
pdfplumber==0.11.5
selenium==4.29.0
requests==2.32.3
weasyprint==65.0
bs4==0.0.2
pdfplumber==0.11.5
requests==2.32.3
psycopg2-binary==2.9.10
fastapi==0.115.12
typing==3.7.4.3
uvicorn==0.34.0
APScheduler==3.11.0
pdfkit==1.0.0
logging==0.4.9.6
webdriver_manager==4.0.2
pypdf2==3.0.1
flask
six
authlib
httpx==0.28.1
asyncio==3.4.3
redis==5.2.1
geopy==2.4.1